<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppGroupIdentifier</key>
	<string>$(APP_GROUP_IDENTIFIER)</string>
	<key>AppGroupIdentifierTrio</key>
	<string>$(APP_GROUP_IDENTIFIER_TRIO)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(MAIN_APP_DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>xdripswift</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>xDrip</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>ex drip</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Drip</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>drip</string>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MainAppBundleIdentifier</key>
	<string>$(MAIN_APP_BUNDLE_IDENTIFIER)</string>
	<key>NFCReaderUsageDescription</key>
	<string>xDrip4iO5 uses NFC to scan Libre sensors.</string>
	<key>NSAppTransportSecurity</key>
	<dict/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Connect to CGM Transmitter and M5Stack</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Connect to CGM Transmitter and M5Stack</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>To create events with BG reading values, so that they can be viewed on Apple Watch and CarPlay</string>
	<key>NSCalendarsUsageDescription</key>
	<string>To create events with BG reading values, so that they can be viewed on Apple Watch and CarPlay</string>
	<key>NSContactsUsageDescription</key>
	<string>To update the contact photo with an image showing the current BG values</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Store bloodglucose readings</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Store bloodglucose readings</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>bluetooth-central</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>view controller-based status bar</key>
	<false/>
</dict>
</plist>
